* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)), url(img/img-2.jpg);
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding: 50px;
    gap: 10px;
    width: 1000px;
}

.box-info{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
    font-size: 2em;
}

.data{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color: goldenrod;
    margin-right: 10px;
    font-size: 25px;
}

.links {
    display: flex;
    gap: 15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: goldenrod;
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color: white;
    line-height: 40px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.input-box {
    position: relative;
}

.input-box > input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    outline: none;
    background: rgba(255 255 255 / .1);
    border: 3px solid transparent;
    letter-spacing: 1px;
    transition: .3s;
    color: goldenrod;
}

.input-box > input:focus, .input-box > textarea:focus {
    border-bottom: 3px solid goldenrod;
    animation: shake .2s;
}

.input-box > input::placeholder, .input-box > textarea::placeholder {
    color: #a3a3a3;
}

.input-box > input:focus::placeholder, .input-box > textarea:focus::placeholder {
    color: transparent;
}

.input-box > textarea {
    width: 100%;
    height: 150px;
    background: rgba(255 255 255 / .1);
    border: 3px solid transparent;
    letter-spacing: 1px;
    transition: .3s;
    color: goldenrod;
    padding: 10px;
    outline: none;
}

.input-box > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.input-box > input:focus ~ i {
    color: goldenrod;
}

form > button {
    background: goldenrod;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    transition: .2s;
}

form > button:hover, .links > a:hover {
    background: rgba(226, 167, 5, 0.623);
}



@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}

}

@media only screen and (max-width:630px) {
    .container{
        width: 95%;
        gap: 20px;
        flex-direction: column;
        display: flex;
    }

    .box-info {
        gap: 15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}